<div class="about-container">
  <ul>
    <li><%=link_to "ABOUT", "#linktoabout"%></li>
    <li><%=link_to "CODE SNIPPETS", "#linktosnippets"%></li>
    <li><%=link_to "WEB APPS", "#linktowebapps"%></li>
    <li><%=link_to "SKILLS & TOOLS", "#linktoskillstools"%></li>
  </ul>
</div>

<h1>Jorge Hernandez</h1>

<div id="container">
  <div class="section">
    <h1 id="linktoabout">ABOUT</h1>
    <p>This is about me!</p>
  </div>

  <div class="section">
    <h1 id="linktosnippets">CODE SNIPPETS</h1>
    <p>My code snippets go here!</p>
  </div>

  <div class="section">
    <h1 id="linktowebapps">WEB APPS</h1>
    <p>This is my web apps!</p>
  </div>

  <div class="section">
    <h1 id=linktoskillstools>SKILLS & TOOLS</h1>
    <p>These are my skills and tools!</p>
  </div>
</div>
