@import "bootstrap";

body{
  background-size: cover;
  background-image: url("../images/mk.jpg");
  background-attachment: fixed;
}

.img{
  height: 175px;
  border-radius: 30px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  margin-top: 40px;
}

.about{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #F3F2FC;
}

/*Text Sections*/

h2{
  font-size: 18px;
  margin-top: 0px;
}

h3 {
  display: block;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  margin-top: 70px;
  margin-bottom: 20px;
  color: #00BFFF;
}

h4{
  color: #F0F8FF;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.about p {
  font: 15px/25px Helvetica, sans-serif;
  margin: 0;
}

.nav-link {
  color: white;
  text-decoration: none;

}

a.nav-link {
  padding: 0;
}

.nav-link:hover{
  color: #7FFFD4;
}

ul{
  display: block;
}

li {
  margin: none;
  display: inline-block;
  font-size: 12px;
  width: 100px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 30px;
}

.grey {
  height: 3px;
  background-color: #E9E6FF;
  border: none;
  width: 50px;
}

.aqua {
  border: 0;
  height: 5px;
  background-image: -webkit-linear-gradient(left, rgba(209, 6, 108, 0), #4995f5, rgba(209, 6, 108, 0));
  width: 250px;
  border-bottom: none;
  border-right: none;
}

.box {
  float: left;
  width: 42.5%;
  margin-left: 5%;
  margin-top: 60px;
}

.language-ruby{
  color: #c5c8c6;
}

.token{
  color: #A8FF60;
}

.number{
  color: #FF73FD;
}

.interpolation{
  color: #FF00FF;
}

.keyword{
  color: #FF6347;
}

.method{
  color: #87CEFA;
}

p {
  color: #F8F8FF;
  text-align: center;
  margin-top: 5px;
}

pre{
  background-color: #1d1f21;
}

.clear{
  clear: both;
}

.full-width {
  width: 100%;
}

.width {
  width: 154px;
}

.icon {
  margin: 30px 0;
}

.icons {
  text-align: center;
}

.contact {
  height: 350px;
  background-color: #202020;
  padding-top: 30px;
}

.contact-headline{
  color: white;
}

.contact-link{
  color: white;
  font-weight: bold;
  font-size: 13px;
}

.contact-link:hover {
  color: red;
  text-decoration: none;
}
